/* -----------------scrollbar START---------------- */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
  background: #dbdbdb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-color: #08BDAA;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  z-index: -3;
  background-image: url('../images/bg-listPage-6p.svg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: absolute;
}

.logo {
  color: var(--main-color);
  font-family: 'Lora', serif;
  font-size: 24px;
  font-weight: 800;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-circle {
  width: 40px;
  height: 40px;
  border: 6px solid var(--main-color);
  border-radius: 100%;
  display: block;
  box-sizing: content-box;
  margin: 0 10px;
}

.lookup-and-map {
  width: 67%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
}

.lookup-icon {
  transform: scaleX(-1);
  font-size: 32px !important;
  color: #B8B8B8;
  margin-left: 10px;
  z-index: 2;
  cursor: pointer;
  position: relative;
  left: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;

}

.lookup-icon-active{
  /* margin-left: 320px; */
  left: 310px;
  transition: 0.5s ease-in-out;
}

.search{
  position: absolute;
  top: -12px;
  left: 0px;
  width: 54px;
  height: 54px;
  z-index: 1;
  border: 1px solid #fff;
  outline: none;
  border-radius: 25px;
  font-family: 'Lora', serif;
  font-weight: 800;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.search-hover{
  border: 1px solid #B8B8B8;
  transition: 0.2s ease-in-out;
}

.search-active{
  color: #636363;
  width: 360px;
  border: 1px solid #B8B8B8;
  transition: 0.5s ease-in-out;
  cursor: auto;
  padding: 5px 50px 5px 15px;
}

.list-of-suggestions{
  position: absolute;
  top: 50px;
  left: 20px;
  display: flex;
}

.list-of-suggestions li::marker{
  color: #B8B8B8;
}

.list-of-suggestions li{
  margin-right: 40px;
  cursor: pointer;
  position: relative;
}

.dot-for-li{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -16px;
}

.map-icon {
  font-size: 32px !important;
  color: var(--main-color);
  position: relative;
  margin-right: 10px;
  /* z-index: 32; */
}

.map-icon::after {
  content: '';
  width: 54px;
  height: 54px;
  background: #fff;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-11px, -11px);
  border-radius: 100%;
}

.list-of-spots {
  width: 67%;
  margin: 70px auto 0;
  list-style-type: none;
  box-sizing: content-box;
  padding: 0 20px;
  overflow: hidden;

}

.list-of-spots li {

}

.card-container{
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}


.li-active{
  transform: rotateY(180deg);

}


.front-card{
  width: 100%;
  height: 94px;
  background: #F6F6F6;
  margin: 0 auto;
  margin-bottom: 20px;
  /* box-shadow: 8px 8px 8px rgba(8, 189, 170, 0.19); */
  box-shadow: 6px 6px 8px #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  backface-visibility: hidden;
  transition: 0.5s ease;
}

.front-card:hover{
  top: 6px;
  left: 6px;
  box-shadow: 0px 0px 0px white;
  transition: 0.1s;
}

.front-card::before{
  content: '';
  width: 9px;
  height: 9px;
  background: var(--main-color);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.front-card-dot{
  width: 9px;
  height: 9px;
  background: var(--main-color);
  border-radius: 100%;
  display: inline-block;
  /* position: absolute; */
  /* position: relative; */
  top: 50%;
  left: 20px;
  /* transform: translateY(-50%); */
  backface-visibility: hidden;
  overflow: hidden;

}

.place{
  font-weight: 700;
  font-size: 18px;
  color: #686868;
  width: 22%;
  text-align: left;
  /* backface-visibility: hidden; */
}

.place-description{
  font-size: 14px;
  font-weight: 500;
  color: #848484;
  width: 40%;
}

.path-img{
  width: 30px;
  height: 30px;
  /* width: 10%; */

}

.place-distance{
  font-size: 18px;
  font-weight: 500;
  color: #686868;
  width: 12%;
  padding-left: 20px;
}

.back-card{
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  width: 100%;
  height: 440px;
  background: rgba(246, 246, 246, 0.2);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
}

.card-img{
  width: 45%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  color: #686868;
  position: relative;

  /* text-align: center; */
}

.content-start{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.content-end{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.close-back-card{
  position: absolute;
  top: 30px;
  right: 30px;
  height: 20px;
  width: 20px;
  /* background: #b5b5b5; */
  cursor: pointer;
}

.close-back-card::before{
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  left: 50%;
  background: #b5b5b5;
  transform: rotate(45deg);
}

.close-back-card::after{
  content: "";
  width: 2px;
  height: 20px;
  background: #b5b5b5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) rotate(-45deg);
}


.place-back{
  font-size: 20px;
  font-weight: 700;
}

.place-description-back{
  margin: 30px 50px 0;
}

.how-to-reach{
  margin-bottom: 10px;
}

.how-to-reach-button{
  outline: none;
  width: 160px;
  height: 40px;
  background: var(--main-color);
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  /* padding: 20px; */
}

.return-arrow {
  width: 49px;
  height: 41px;
  position: absolute;
  top: 54px;
  left: 60px;
  font-size: 32px !important;
  color: var(--main-color);
}

.right-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgb(8, 189, 170);
  background: linear-gradient(90deg, rgba(8, 189, 170, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 100%;
  top: 0;
  right: 0;
  transform: translate(25%, -50%);
  z-index: -5;
}

.left-circle {
  position: fixed;
  width: 500px;
  height: 500px;
  background: rgb(8, 189, 170);
  background: linear-gradient(100deg, rgba(8, 189, 170, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 100%;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 60%);
  z-index: 0;
}

@media (max-width: 1100px) {
.lookup-and-map{
  width: 90%;
}

.list-of-spots{
  width: 90%;
}
}
