:root {
  --main-color: #08BDAA;
}

body {
  padding: 0;
  margin: 0;
}

#map {
  min-height: calc(100vh - 70px);
  width: 100%;
}

.top-header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  height: 70px;
  width: 100%;
  background: #fff;
  box-shadow: 2px 0px 10px #000;
  /* opacity: 0.8; */
}

.logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #686868;
  /* background: #F5F5F5; */
  font-family: 'Lora', serif;
  font-size: 24px;
  font-weight: 800;
  margin: 10px auto 0;
  width: 270px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.logo-circle {
  width: 40px;
  height: 40px;
  border: 6px solid #686868;
  border-radius: 100%;
  display: block;
  box-sizing: content-box;
  margin: 0 10px;
  z-index: 2;
}

.hamburger {
  position: absolute;
  top: 24px;
  right: 30px;
  width: 40px;
  height: 30px;
  /* border: 3px solid var(--main-color); */
  box-sizing: content-box;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  z-index: 8;
}

.hamburger span {
  width: 100%;
  height: 13%;
  background: #686868;
  cursor: pointer;
  /* transform: rotate(0deg) translate(0, 0px); */
  transition: transform 0.5s, opacity 0.5s, background 0.5s;
  transform-origin: 0 100% !important;
  z-index: 8;
}

.hamburger:hover span{
  background: var(--main-color);
}

.span-active-first {
  background: #fff !important;
  transform: rotate(45deg) translate(-2px, -8px);
  transition: transform 0.5s;
  /* transform-origin: 0% 100%; */
  transform-origin: left;
}

.span-active-second {
  opacity: 0;
  transition: 0.1s;
}

.span-active-third {
  background: #fff !important;
  transform: rotate(-45deg) translate(2px, 8px);
  transition: transform 0.5s;
  /* transform-origin: 0% 100%; */
  transform-origin: left;
}

.hamburger-bg {
  background: linear-gradient(197.88deg, #08BDAA 20.42%, #16D9C4 99.54%);
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  clip-path: circle(0px at 98% 5%);
  z-index: 5;
}

.hamburger-bg-active {
  clip-path: circle(1800px at 89% 9%);
  transition: 0.8s ease;
}

.hamburger-bg .logo {
  color: white;
  z-index: 6;
  margin: 15px 0 0 0px;
  display: flex;
  align-items: center;
  font-family: 'Lora', serif;
  font-size: 24px;
  font-weight: 800;
}

.hamburger-bg .logo-circle {
  border: 5px solid #fff;
  z-index: 6;
  display: flex;
}

.hamburger-bg ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  text-align: center;
  display: block;
}

.hamburger-bg li {
  padding-bottom: 30px;
  display: block;
}

.hamburger-menu-li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  display: block;
  position: relative;
}

.hamburger-menu-li {
  position: relative;
}

.hamburger-menu-li::before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 25px;
  left: -5px;
  transition: 0.3s ease-out;
}

.hamburger-menu-li:hover::before {
  width: 157px;
  transition: 0.3s ease-out;
}

.first-li::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 2px;
  background: white;
  position: absolute;
  top: 50%;
  left: -120px;
}

.first-li::after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 2px;
  background: white;
  position: absolute;
  top: 50%;
  right: -120px;
}

.my-face {
  font-size: 30px;
  color: #fff;
  margin-bottom: 44px;
  display: inline-block;
}
}

.return-arrow {
  width: 49px;
  height: 41px;
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 32px !important;
  z-index: 2;
}

.return-arrow:hover {}

.my-location-btn {
  position: absolute;
  left: 30px;
  bottom: 30px;
  border: none;
  box-shadow: 0px 0px 2px #636363;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: var(--main-color);
  background: linear-gradient(to right, var(--main-color) 50%, #686868 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all .3s ease-out;
}

.my-location-btn:hover{
  background-position: left;
}

.my-location-icon {
  margin-left: 10px;
}

.route-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  border: none;
  box-shadow: 0px 0px 2px #636363;
  background: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, var(--main-color) 50%, #686868 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all .3s ease-out;
}

.route-btn:hover{
  background-position: left;

}

.map-box * {
  padding: 0;
  margin: 0;
}

.place-img {
  width: 300px;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.place {
  font-weight: 700;
  font-size: 20px;
  color: #686868;
  text-align: center;
  margin: 20px 0 10px;
}

.place-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  border: none;
  /* border-radius: 20px; */
  padding: 8px;
  margin: 10px auto 20px;
  cursor: pointer;

  background: linear-gradient(to right, var(--main-color) 50%, #686868 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all .3s ease-out;
}

.place-btn:hover {
  background-position: left;
}

/* .place-close{
  position: absolute;
  top: 0;
  left:0;
  width: 30px;
  height: 30px;
  background: white;
  border: none;
  cursor: pointer;
} */

/* Custom close infoWindow button */
.gm-ui-hover-effect{
  background: #686868 !important;
  opacity: 1.0 !important;
  z-index: 42 !important;
  position: absolute !important;
  top: -10px !important;
  right: -10px !important;
  transition: background .4s;

}

.gm-ui-hover-effect:hover{
  background: var(--main-color) !important;
  transition: background .4s;
}

.gm-ui-hover-effect::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 20px;
  height: 4px;
  background: white;
}

.gm-ui-hover-effect::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 20px;
  height: 4px;
  background: white;
}


.gm-ui-hover-effect img{
  transform: rotate(45deg);
  width: 0 !important;
}

/* Change infoWindow style */
.gm-style .gm-style-iw-c{
  padding: 0 !important;
  overflow: visible !important;
}

.gm-style .gm-style-iw{
  overflow: visible !important;
}

/* Change infoWindow style */
.gm-style-iw-d{
  overflow: hidden !important;
}


/* Change zoom style */
.gm-control-active{
  background: #686868 !important;
  transition: .4s;
}

.gm-control-active:hover{
  background: var(--main-color) !important;
  transition: .4s;
}

.gm-control-active::before{
  /* background: #fff !important; */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 20px;
  height: 4px;
  background: #fff;
}

.gm-control-active::after{
  /* background: #686868 !important; */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 20px;
  height: 4px;
  background: #fff;
}

.gm-control-active:last-child::before{
  display: none;
}

.gm-control-active img{
  display: none !important;
}
