body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-image: url('../images/bg-listPage-6p.svg');
  background-repeat: no-repeat;
}

:root {
  --main-color: #08BDAA;
  --dark-main-color: #686868;
}

* {
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  /* max-width: 2000px; */
  height: 100vh;
  display: flex;
  background-image: url('../images/bg-dt.svg');
  background-position: 104% 0;
  background-size: 110vh;
  /* background: contain; */
  background-repeat: no-repeat;
  position: relative;
}

.bg-curve {
  position: absolute;
  top: 0%;
  right: -21%;
  width: 100%;
  height: 110%;
  pointer-events: none;
  opacity: 0;
  animation: curve-in 0.9s ease forwards;
}

@keyframes curve-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 1800px) {
  .main-container {
    background-size: 50%;
  }
}

.bg-box {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 3px solid var(--main-color);
  opacity: 0.1;
}

.left-container {
  width: 50%;
  height: 100%;
  padding-left: 100px;
  position: relative;
  color: #636363;
  z-index: 1;
  top: -80vh;
  opacity: 0;
  animation: left-in 0.7s ease forwards;
}

@keyframes left-in {
  from {
    /* left: -50vw; */
    top: -80vh;
    opacity: 0;
  }

  to {
    /* left: 0; */
    top: 0;
    opacity: 1;
  }
}

@media (min-width: 1800px) {
  .left-container {
    padding-left: 200px;
  }
}

.logo {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 800;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.logo-circle {
  min-width: 40px;
  height: 40px;
  border: 6px solid var(--main-color);
  border-radius: 100%;
  display: block;
  box-sizing: content-box;
  margin: 0 10px;
}

.content {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 800;
  width: 540px;
  padding-top: 130px;
  /* position: absolute; */
  /* top: 30%; */
}

.content span {
  color: var(--main-color);
}

.search-box {
  margin-top: 10%;
  font-size: 22px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.search {
  box-sizing: content-box;
  display: flex;
  width: 400px;
  height: 36px;
  border: 2px solid var(--main-color);
  background: #F3F3F3;
  border-radius: 25px;
  padding: 5px 15px;
  margin-top: 10px;
  outline: none;
  position: relative;
  left: -15px;
  font-family: 'Lora', serif;
  font-weight: 800;
  color: #636363;
  font-size: 18px;
}

.submit-button {
  position: absolute;
  top: 44px;
  left: 370px;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  border: none;
  background: white;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.submit-button-arrow {
  width: 1px;
  border: solid var(--main-color);
  border-width: 0 2px 2px 0;
  padding: 5px;
  transform: rotate(-45deg);
  position: absolute;
  top: 56px;
  left: 380px;
  z-index: 1;
  cursor: pointer;
  pointer-events: none;
}

.submit-button-active {
  background: var(--main-color);
  transition: 0.5s;
}

.submit-button-arrow-active {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transition: 0.5s;
}

input::placeholder {
  font-family: 'Lora', serif;
  font-weight: 800;
  color: #adadad;
}

.list-of-suggestions {
  box-sizing: content-box;
  list-style: none;
  width: 400px;
  padding: 0;
  margin: 0;
}

.list-of-suggestions li {
  background: #F3F3F3;
  width: 90%;
  height: 40px;
  border: 1px solid var(--main-color);
  margin: 0 auto 5px;
  padding: 10px;
  display: none;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
}

.list-of-suggestions li:nth-child(-n+3) {
  display: flex;
}

.change-city-color {
  background: var(--main-color);
  color: white;
}

.right-container {
  /* z-index: -1; */
  /* overflow: hidden; */
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  right: -50vw;
  animation: bus-in 0.7s ease forwards;
}

.icons {
  display: flex;
  /* border: 1px solid black; */
  align-self: flex-end;
  margin: 40px 30px 0 0;
}

.icons a {
  color: #60EEDF;
  margin: 10px 20px;
  font-size: 24px;
}

.icons a:hover {
  color: var(--main-color);
  font-size: 30px;
  margin: 7px 17px;
}

.lights {
  position: relative;
}

.bus-img {
  /* filter: drop-shadow(10px 10px 20px #3b3b3b); */
  max-width: 100%;
  vertical-align: middle;
  transform: scale(0.9);
  /* margin-left: 60px; */
  position: relative;
}

.bus-img[width], .bus-img[height] {
  max-width: none;
}

@keyframes bus-in {
  from {
    right: -50vw;
  }

  to {
    right: 0;
  }
}

/* TODO: Make pseudo elements for img */
/* .left-light{
  width: 40px;
  height: 57px;
  background-color: yellow;
  opacity: 0.5;
  border-radius: 100%;
  position: absolute;
  top: 290px;
  left: 104px;
}

.right-light{
  width: 64px;
  height: 60px;
  background-color: yellow;
  opacity: 0.5;
  border-radius: 100%;
  position: absolute;
  top: 292px;
  left: 355px;
} */
.non-hamburger {}

.non-hamburger ul {
  margin-bottom: 40px;
  list-style-type: none;
  display: flex;
  position: relative;
  left: -20%;
  /* border: 1px solid white; */
}

.non-hamburger li {
  margin-right: 40px;
}

.non-hamburger a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.non-hamburger a:hover {}

.hamburger-bg * {
  display: none;
}

.hamburger{
  display: none;
}

@media (max-width: 1100px) {
  .main-container {
    background-image: url('../images/bg-medium-fixed.svg');
    background-size: cover;
    /* background-position: center; */
    /* background: cover; */
    background-repeat: no-repeat;
  }

  .bus-img {
    /* transform: scale(0.8); */
    right: -10vw;
    margin-top: 90px;
  }

  .right-container {
    flex-direction: column-reverse;
  }

  .icons {
    align-self: flex-start;
    /* margin: 40px 30px 60px 0;  */
    position: relative;
    left: -120px;
    margin: 40px 30px 0 30px;
    z-index: 2;
  }

  .icons a {
    color: white;
    margin-bottom: 30px;
  }

  .icons a:hover {
    color: white;
    margin: 7px 17px;
  }

  .icons a:first-child:hover {
    margin-right: 19px;
  }

  .non-hamburger {
    display: none;
  }

  .hamburger {
    position: relative;
    width: 40px;
    height: 30px;
    /* border: 3px solid var(--main-color); */
    margin: 58px 100px 0 0;
    box-sizing: content-box;
    padding: 0 10px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 4;
  }

  @keyframes roundOver {}

  .hamburger span {
    width: 100%;
    height: 12%;
    background: var(--main-color);
    cursor: pointer;
    /* transform: rotate(0deg) translate(0, 0px); */
    transition: transform 0.5s, opacity 0.5s, background 0.5s;
    transform-origin: 0 100% !important;
    z-index: 5;
  }

  .span-active-first {
    background: #fff !important;
    transform: rotate(45deg) translate(-2px, -8px);
    transition: transform 0.5s;
    /* transform-origin: 0% 100%; */
    transform-origin: left;
  }

  .span-active-second {
    opacity: 0;
    transition: 0.1s;
  }

  .span-active-third {
    background: #fff !important;
    transform: rotate(-45deg) translate(2px, 8px);
    transition: transform 0.5s;
    /* transform-origin: 0% 100%; */
    transform-origin: left;
  }

  .hamburger-bg {
    background: linear-gradient(197.88deg, #08BDAA 20.42%, #16D9C4 99.54%);
    width: 100%;
    height: 100vh;
    margin: 0;
    position: fixed;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    clip-path: circle(0px at 89% 9%);
    z-index: 3;
  }

  .hamburger-bg-active {
    clip-path: circle(1500px at 89% 9%);
    transition: 0.8s ease;
  }

  .hamburger-bg .logo {
    color: white;
    z-index: 6;
    margin: 30px 0 0 40px;
    display: flex;
  }

  .hamburger-bg .logo-circle {
    border: 5px solid #fff;
    z-index: 6;
    display: flex;
  }

  .hamburger-bg ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    text-align: center;
    display: block;
  }

  .hamburger-bg li {
    padding-bottom: 30px;
    display: block;
  }

  .hamburger-menu-li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    display: block;
    position: relative;
  }

  .hamburger-menu-li {
    position: relative;
  }

  .hamburger-menu-li::before {
    content: '';
    display: inline-block;
    width: 0px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 25px;
    left: -5px;
    transition: 0.3s ease-out;
  }

  .hamburger-menu-li:hover::before {
    width: 157px;
    transition: 0.3s ease-out;
  }

  .first-li::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 2px;
    background: white;
    position: absolute;
    top: 50%;
    left: -120px;
  }

  .first-li::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 2px;
    background: white;
    position: absolute;
    top: 50%;
    right: -120px;
  }

    .my-face {
    font-size: 30px;
    color: #fff;
    margin-bottom: 44px;
    display: inline-block;
  }
}

@media screen and (max-width: 950px) {
  .main-container{
    /* background-position: -80%; */
  }

  .content {
    font-size: 42px;
    max-width: 470px;
  }
}

@media (max-width: 530px) {
  .main-container {
    background-image: url('../images/bg-small-3.svg');
    background-size: cover;
    background-position: 10%;
    /* background: cover; */
    background-repeat: no-repeat;
  }

  .left-container{
    padding-left: 20px;
  }

  .content{
    font-size: 36px;
    max-width: 290px;
  }

  .search-box {
    margin-top: 120px;
  }

  .hamburger{
    margin-right: 10px;
  }

  .bus-img{
    margin-top: 200px;
    transform: scale(1.2);
    right: -2vw;
  }
}
