body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.return{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #08BDAA;
  text-decoration: none;
}

.container-imgs {
  position: relative;
  margin: 100px 0 60px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.bg-img {
  clip-path: url(#bgmask);
  width: 400px;
  aspect-ratio: 1/1;
  animation: roller 1s infinite alternate;
}

@keyframes roller {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(2deg);
  }
}

.bus-img {
  position: absolute;
  bottom: -60px;
  left: -50px;
  /* right: -50px; */
  /* transform: scale(0.3); */
  width: 200px;
}


.content {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #08BDAA;
}

@media screen and (max-width: 500px) {
  .bg-img {
    clip-path: url(#bgmask);
    width: 250px;
    aspect-ratio: 1/1;
    /* height: 30vw; */
  }

  .bus-img {
    position: absolute;
    bottom: 0px;
    left: -50px;
    /* right: -50px; */
    /* transform: scale(0.3); */
    width: 100px;
  }

  .content {
    font-size: 30px;
  }
}
